<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container designersignup">
  <div class="row">
    <div class="col-sm-12">
      
    </div>
    <div class="col-sm-12">

      <form class="form" name="form" ng-submit="register(form)" novalidate>
        <div ng-show="step==0" class="accountinfo">
          <div class="form-group" ng-class="{ 'has-success': form.username.$valid && submitted,
                                              'has-error': form.username.$invalid && submitted }">
            <label>Pseudo</label>
            <input type="text" name="username" class="form-control" ng-model="user.username"
                   required/>
            <p class="help-block" ng-show="form.username.$error.required && submitted">
              An username is required
            </p>
          </div>
          <br/>
          <div class="form-group" ng-class="{ 'has-success': form.firstname.$valid && submitted,
                                              'has-error': form.firstname.$invalid && submitted }">
            <label>First Name</label>
            <input type="text" name="firstname" class="form-control" ng-model="user.firstname"
                   required/>
            <p class="help-block" ng-show="form.firstname.$error.required && submitted">
              A first name is required
            </p>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.lastname.$valid && submitted,
                                              'has-error': form.lastname.$invalid && submitted }">
            <label>Last Name</label>
            <input type="text" name="lastname" class="form-control" ng-model="user.lastname"
                   required/>
            <p class="help-block" ng-show="form.lastname.$error.required && submitted">
              A last name is required
            </p>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.location.$valid && submitted,
                                              'has-error': form.location.$invalid && submitted }">
            <label>Location</label>
            <input type="text" name="location" class="form-control" ng-model="user.location"
                   required/>
            <p class="help-block" ng-show="form.location.$error.required && submitted">
              A location is required
            </p>
          </div>
          <br/>
          <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                              'has-error': form.email.$invalid && submitted }">
            <label>Email</label>

            <input type="email" name="email" class="form-control" ng-model="user.email"
                   required
                   mongoose-error/>
            <p class="help-block" ng-show="form.email.$error.email && submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ errors.email }}
            </p>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                              'has-error': form.password.$invalid && submitted }">
            <label>Password</label>

            <input type="password" name="password" class="form-control" ng-model="user.password"
                   ng-minlength="6"
                   required
                   mongoose-error/>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              Password must be at least 6 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>
          <br/>
          <div class="nextbtn footersignup">
            <button class="btn btn-lg" ng-click="nextStep('Generic Skills')">
              Generic Skills->
            </button>
          </div>
        </div>
        <div ng-show="step==1">
          <h2>Generic Modifications</h2>
          <span class="explan">Chose the type of work you want to do and your average output quality about it !</span>
          <!-- Faire liste des retouches generiques, avec a coté un bouton qui ouvre une modale,avec les 3exemples de qualité et le cursor zoom -->          
          <div class="exampleblock">
<!--           <div class="example" image-src="/assets/images/rem1.png" data-template-url="assets/image-zoom.html" image-zoom zoom-factor="2"> -->
            <div class="col-md-6 compselecting" ng-class="{compselected: addPers}" >
              <div class="col-md-12 compselecting comptitle" ng-click="addPers = !addPers;">Adding person</div>
              <quachoice quamodel="addpers" is-disabled="!addPers"></quachoice>
            </div>            
            <div class="col-md-6 compselecting" ng-class="{compselected: remPers}">
              <div class="col-md-12 compselecting comptitle" ng-click="remPers = !remPers">Removing person</div>
              <quachoice quamodel="rempers" is-disabled="!remPers"></quachoice>
            </div>
            <div class="col-md-6 compselecting" ng-class="{compselected: addObj}">
              <div class="col-md-12 compselecting comptitle" ng-click="addObj = !addObj;">Adding object</div>
              <quachoice is-disabled="!addObj"></quachoice>
            </div>
            <div class="col-md-6 compselecting" ng-class="{compselected: remObj}">
              <div class="col-md-12 compselecting comptitle" ng-click="remObj = !remObj;">Removing object</div>
              <quachoice is-disabled="!remObj"></quachoice>
            </div>
            <div class="col-md-6 compselecting" ng-class="{compselected: enh}">
              <div class="col-md-12 compselecting comptitle" ng-click="enh = !enh;">Photo Enhancements</div>
              <quachoice is-disabled="!enh"></quachoice>
            </div>
            <div class="col-md-6 compselecting" ng-class="{compselected: incr}">
              <div class="col-md-12 compselecting comptitle" ng-click="incr = !incr;">Incrustation</div>
              <quachoice is-disabled="!incr"></quachoice>
            </div>            
          </div>
          <div class="nextbtn footersignup">
            <button class="btn btn-lg" ng-click="nextStep('Specific Skills')">
              Specific Skills->
            </button>
          </div>
        </div>
        <div ng-show="step==2">
          <h2>Specific Skills</h2>
          <span class="explan">If you have other skills you want to share, set them here!</span>
          <span class="explan2"> or you can set them later on your profile...</span>
          <div class="specskill">
            <button class="btn btn-success btn-primary" ng-click="addSkill()">Add new skill</button>
            <div class="col-md-12 skill" ng-repeat="(key, value) in skills">
              <span id='close' ng-click='remSkill(key)'>x</span>
              <div class="col-md-9">
                <div class="col-md-12 skillattr" tooltip="Chose a descriptive name to help user find your skill." tooltip-placement="top" tooltip-trigger="mouseenter">
                  Name your skill : <input type="text" value="{{value.name}}">
                </div>
                <div class="col-md-12 skillattr" tooltip="What are the words who describe your skill." tooltip-placement="top" tooltip-trigger="mouseenter">
                  Set its tags : <input type="text" value="{{value.tags}}">
                </div>
                <div class="col-md-12 skillattr" tooltip="Your fee for this skill." tooltip-placement="top" tooltip-trigger="mouseenter">
                  Price Range : <input type="text" value="{{value.price}}">
                </div>
              </div>
              <div class="col-md-3">
                <img class="skillimg" ng-src="/assets/images/white.png">
                <button class="btn btn-success btn-primary">Add an example</button>
              </div>
            </div>
          </div>
          <div class="nextbtn footersignup" >
            <button class="btn btn-lg" ng-click="nextStep('QQ Explanation')">
              QQ Explanation->
            </button>
          </div>
        </div>
        <div ng-show="step==4">
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Sign up
          </button>
        </div>
        
      </form>
    </div>
  </div>
  <footer class=" footerbar">
  <div class="container">
      <progress><bar ng-repeat="bar in barStep track by $index" value="bar.value" type="success"><span>{{bar.text}}</span></bar></progress>
  </div>
  </footer>
</div>