.accountinfo{
	padding-top: 5%;
}
.accountinfo input{
}
.nextbtn{
	text-align: right;
}
.footerbar{
	margin-top: 5%;
	padding-top: 5%;
}
.footersignup{
	display: block;

}
.explan{
	margin-top: 2%;
	display: block;
	text-align: center;
	font-family: 'Over the Rainbow';
	font-size: 1.25vw;
	font-weight: bold;
}
.explan2{
	display: block;
	text-align: center;
	font-family: 'Over the Rainbow';
	font-size: 0.8vw;
}
.quablock{
	margin-top: 15%;
	text-align: center;
	margin-bottom: 3%;
}
.example{
	text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-top: 2%;
}
.compselecting{
	border: lightgrey 5px solid;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	padding:2%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	cursor: default;
}
.compselected{
	border: #00796B 5px solid;
}
.comptitle{
	font-family: 'Over the Rainbow';
	font-weight: bold;
	font-size: 170%;
	border: #00796B 2px solid;
}
.specskill{
	display:inline-block;
	text-align: center;
	margin-top: 1%;
	padding-bottom: 5%;
	height: 100%;
	width: 100%;
}
.skill{
	margin-top: 1%;
	border: lightgrey 5px solid;
	font-size: 200%;
	padding: 1%;
}
.skillattr{
	margin: 2%;
}
.skillimg{
	width: 100%;
	border: #00796B 4px solid; 
}
.pricingtable{
	width: 50%;
	text-align: center;
	margin-left: 25%;
	margin-top: 3%;
	font-family: 'Montserrat';

}
.explanqq{
	margin-top: 2%;
	margin-bottom: 2%;
	display: block;
	font-family: 'Montserrat';
	font-size: 1vw;
	width: 80%;
	margin-left: 10%;
	font-weight: bold;
}
.ratinglegend{
	height: 10%;
	margin-left: 2%;
}
.completepricing{
	color: #00796B;
	text-align: center;
	margin-left: 45%;
}
.checkbox{
	margin-top: 5%;
	text-align: center;
	font-family: "Montserrat";
	font-size: 150%;
	line-height: 100%;
	width: 100%;
}
.explansv{
	margin-top: 3%;
	display: block;
	font-family: 'Montserrat';
	font-size: 1vw;
	width: 80%;
	margin-left: 10%;
	font-weight: bold;
}
.formvalid{
	text-align: center;
	margin-top: 7%;
}
#close{
	cursor: default;
	text-align: center;
	display: inline;
	right: 0;
	top:-5%;
	position: absolute;
}