<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1 class="title">StYleY</h1>
    <h3 class="subtitle" >Unleash your imagination</h2>
    <button class="btn-xl btn btn-primary choicebutton" ng-click="homeVisible=false;askFor()" ng-show="homeVisible">Start yours !</button>
    <button class="btn-xl btn btn-primary choicebutton" ng-click="homeVisible=false;explore()" ng-show="homeVisible" ng-model-options="{debounce: 3000}">Take a look</button>
    <button class="btn-xl btn btn-primary choicebutton" ng-show="catVisible" ng-click="hallOfFamePics()">Artists Hall of Fame</button>
    <button class="btn-xl btn btn-primary choicebutton" ng-show="catVisible" ng-click="lastPics()">Latest Creations </button>
    <button class="btn-xl btn btn-primary choicebutton" ng-show="catVisible" ng-click="mostVotedPics()">Most Voted</button>

  </div>
</header>

<div class="container" ng-show="mozaic">
  <div deckgrid class="deckgrid" source="Pics">
      <div class="a-card" >
          <img src="" class="moz" data-ng-src="{{'/public/samples/'+card.src}}" ng-click="mother.modalPic(card)">
          <button class="btn btn-circle btn-vote btn-primary nbVote" >{{card.vote}}</button>
          <button class="btn btn-circle btn-vote btn-primary addvote" ng-click="mother.vote(card)">❤</button>
      </div>
  </div>
</div>
<div class="container" ng-show="dashboard">
  <div class="actiongrid">
  <revealer top-image="/assets/images/plage.png" top-label="Top Image" bottom-image="/assets/images/plage.png" bottom-label="Bottom Label"></revealer>
    <div class="dashboard" ng-init="imgsrc='/assets/images/plage.png'" ng-mouseover="imgsrc='/assets/images/animated.gif'" ng-mouseout="imgsrc='/assets/images/plage.png'" ng-click="creaRem('idclient')">
      <img class="buttonimages" ng-src="{{imgsrc}}">
      <span class="buttontitles">Remove  <br /> a Person</span>
    </div>
    <div class="dashboard" ng-init="imgsrc2='/assets/images/landscapebrut.png'" ng-mouseover="imgsrc2='/assets/images/landscape.gif'" ng-mouseout="imgsrc2='/assets/images/landscapebrut.png'">
      <img class="buttonimages" ng-src="{{imgsrc2}}">
      <span class="buttontitles">Improvements</span>
    </div>
    <div class="dashboard" ng-init="imgsrc3='/assets/images/creation.png'" ng-mouseover="imgsrc3='/assets/images/creation.gif'" ng-mouseout="imgsrc3='/assets/images/creation.png'">
      <img class="buttonimages" ng-src="{{imgsrc3}}">
      <span class="buttontitles">Creation</span>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <p>ModiPics v0.1 |
        <a href="https://github.com/haplo31/ModiPics">GitHub</a>
  </div>
</footer>
