.titleretouch{
	font-family: 'Bitter',serif;
    font-size: 200%;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5%;
    padding-bottom: 0.5%;
    line-height: 70%;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.modtype{
    display: block;
    font-family: 'Bitter',serif;
    font-size: 150%;
    font-weight: bold;
    color: #E040FB;
}
.picturezone{
    text-align: center;
    border: 4px #00796B solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-width: 40%;
    max-height: 50%;
    min-height: 20%;
    position: relative;
}
.dragbtn{
    position: absolute;
}
.infos{
    background-color: #5cb85c;
}

.imgdec{
    width: 80%;
    margin-left: 10%;
    border: 6px #00796B dashed;
    background-color: #5cb85c;
}
.starimg{
    background-color: #5cb85c; 
    width: 22%;
}
.qua{
    width: 80%;
    margin-left: 10%;
    border: 6px #00796B dashed;
    background-color: #5cb85c;
    font-family: 'Original Surfer', cursive;
    font-size: 450%;
    color: white;
    line-height: 100%;
    margin-top: 1%;
    display: block;
    padding-bottom: 2%;
    padding-top: 2%;

}
.price{
    margin-top: 1%;
    width: 80%;
    margin-left: 10%;
    border: 6px #00796B solid;
    background-color: #5cb85c;
    font-family: 'Original Surfer', cursive;
    font-size: 800%;
    line-height: 100%;
    color: white;
    display: block;
    margin-bottom: 2%;
}
.imgmod{
    position: relative;
}