.modal-primary .modal-header,
.modal-info .modal-header,
.modal-success .modal-header,
.modal-warning .modal-header,
.modal-danger .modal-header {
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.modal-primary .modal-header {
  background: #428bca;
}
.modal-info .modal-header {
  background: #5bc0de;
}
.modal-success .modal-header {
  background: #5cb85c;
}
.modal-warning .modal-header {
  background: #f0ad4e;
}
.modal-danger .modal-header {
  background: #d9534f;
}
.modal-header{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.modal-body{
	margin-top: 0px;
	padding-top: 0px;
}
.modal-footer{
	margin-top: 0px;
	padding-top: 0px;
}
.slider{
	width: 400px;
	border: 4px #00796B solid;
}
.comparepic{
	margin-top: 0px;
	padding-left: 26.5%;
}
.titleretouch{
	font-family: 'Bitter',serif;
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
    line-height: 35px;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.captionretouch{
	margin:0 0 0 -125px;
	padding:0;
	padding-right: 100px;
	color:white;
	font-size:10px;
	font-style:italic;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.hiw{
	font-size: 50px;
	font-weight: bold;
	color:#00796B;
	margin-bottom: 30px;
}
.explanation{
	margin-top: 20px;
	display:inline-block;
	text-align: center;
	margin-left: -170px;
	padding-right: 60px;
	font-family: 'Original Surfer', cursive;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color:#00796B;
}
span[class^="explanation-"], div[class*=" explanation-"]{
	display:inline-block;
	margin-bottom: 10px;
}
span[class^="explanation-"]::first-letter, div[class*=" explanation-"]::first-letter{
	line-height: 15px;
	font-size:30px;
	color:#E040FB;
}
.explanationrelax{
	display:inline-block;
	margin-bottom: 30px;
	color:#E040FB;
	font-size: 16px;
}
.symbolstodrag{
	position: relative;
	display:inline-block;
	width: 48px;
	max-height: 48px;
	margin-bottom: 20px;
}
.nextbutton{
	position: absolute;
	right:0;
	bottom: 0;
	background-color:#00796B;
	font-size: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 0px;
	border-top-left-radius: 50px;
	border-color: #00796B;
}
.draggablearea{
	position: relative;
	display: block;
	text-align: center;
}
.picturezone{
	text-align: center;
	border: 4px #00796B solid;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	min-width: 400px;
	max-height: 500px;
	min-height: 200px;
}
.dotpos{
	color:#00796B;
	font-size: 35px;
	text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -2px 0 0 #000;
	cursor: pointer;
}
.lgddot{
	display: block;
	font-family: 'Original Surfer', cursive;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color:#00796B;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;

}
.addinfos{
	display: block;
	font-family: 'Original Surfer', cursive;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color:#00796B;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;	
}
.addinfostyped {
	height: 100px;
	width: 70%;
	border: 2px #00796B solid;
	border-radius: 5px;
	box-shadow: inset 1px 1px 3px 0 #00796B;
  	transition: box-shadow 0.3s;
}
.lgddot::first-letter,.addinfos::first-letter{
	line-height: 15px;
	font-size:30px;
	color:#E040FB;
}
.expland{
	display: block;
	font-family: 'Original Surfer', cursive;
	line-height: 15px;
	font-size:30px;
	color:#E040FB;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;		
}
.active{
	color:#E040FB;
}
.dragbtn{
	display: inline;
	top:-48px;
	position: absolute;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}